<% @forums.each do |forum| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to forum.title, forum %><br>
        <small class="author">Submitted<%= time_ago_in_words(forum.created_at) %> ago by <%= forum.user.name %></small>
    </h2>

    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= forum.url %>">Visit Link</a>
        <%= link_to like_forum_path(forum), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= forum.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_forum_path(forum), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
        <%= forum.get_downvotes.size %>
        <% end %>
      </div>

    </div>
<% end %>