  <div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
   
<nav class="panel">
  <p class="panel-heading">
    Favorites
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>

  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
   Math
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    Science
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    ELAR
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    History
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    Electives
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
    EdTech
  </a>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth">
      reset all filters
    </button>
  </div>
</nav>

  </div>
  <div class="column">

<% @forums.each do |forum| %>
  <article class="media">
    <figure class="media-left">
      <% if forum.user.avatar.attached? %>
        <p class="image is-64x64">
          <%= image_tag(forum.user.avatar) %>
        </p>
      <% end %>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to forum.title, forum %></strong> <small><%= forum.user.username %></small> <small><%= time_ago_in_words(forum.created_at) %> ago</small>
         
    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="<%= forum.url %>">Visit Link</a>
        <%= link_to like_forum_path(forum), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon"></span>👍
        <%= forum.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_forum_path(forum), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon"></span>👎
        <%= forum.get_downvotes.size %>
        <% end %>
      </div>

        </p>
      </div>
    </div>

  </article>
<% end %>

  </div>
</div>



<div class="column">

<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
  <a class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li>
      <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 2">2</a>
    </li>
    <li>
      <a class="pagination-link" aria-label="Goto page 3">3</a>
    </li>
  </ul>
</nav>

  </div>