 <p id="notice"><%= notice %></p>

  <section class="section">
    <h1 class="title">Events</h1>
    <h2 class="subtitle">
      Find and Post your events here! <br>
      <%= link_to 'Post New Event', new_event_path %> 
    </h2>
  </section>

<div class="columns is-multiline is-mobile">

<% @events.each do |event| %>
<div class="card" id="eventCard">
  <div class="card-image">
    <figure class="image is-4by3">
      <% if event.image.attached? %>
        <%= image_tag event.image %>
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <% if event.user.avatar.attached? %>
            <%= image_tag(event.user.avatar) %>
          <% end%>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= event.title %></p>
        <p class="subtitle is-6"><%= event.user.username %></p>
      </div>
    </div>

    <div class="content">
      <%= event.description %> <br>
      <%= event.address %>
      <br>
      <time datetime="2016-1-1"> <%= event.date %></time> <br>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
<br>

 <% end %>
<br>

</div>

