<!DOCTYPE html>
<html>
  <head>
    <title>TeacherConnection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
<%# header %>
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<%= stylesheet_link_tag  'application.css' %>
<%= stylesheet_link_tag  'rails.css' %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


  
  <%# main content container %>
  
    <div id="main_content" class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>


    <div id="content" class="col-md-9 center-block">

    <%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
